::selection {
    background:none; 
    color:#FF4C24;
}

::-moz-selection {
    background:none; 
    color:#FF4C24;
}

::-webkit-selection {
    background:none; 
    color:#FF4C24;
}
html,
body {
    margin: 0;
    height: 100%;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

header {
    padding: 16px;
}
.header-date {
    position: absolute;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.hero-title {

    position: absolute;
    width: 931px;
    height: 133px;
    left: calc(50% - 931px/2 + 17.5px);
    top: calc(50% - 133px/2 - 21.5px);

    font-family: Futura;
    font-style: italic;
    font-weight: 500;
    font-size: 100px;
    line-height: 133px;
    /* identical to box height */


    color: #FFFFFF;
}
.footer-details {
    position: absolute;
    width: 96px;
    height: 80px;
    left: 20px;
    bottom: 20px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}


.footer-code {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px;
    border-radius: 0px;
    background: none;

    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-decoration: none;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;

    transition: 0.3s;
}

.footer-code:hover {
    background: #FFFFFF;
    color: #FF4C24;
}